
 
<div class="container">
    <div class="header">
    <nav>
      
      <a routerLink="http://localhost:4200/landing" routerLinkActive="active">  <form> 
   
     </form><h1>iLAB institute of Tech</h1>
    </a>
    [There's no shortage of remarkable ideas, what's missing is the will to execute them]&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;--!We--Try--Harder!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;<input type="button" class="pressme" value="NAVIGATE TO LANDING-PAGE"onclick="history.go(-1)">
    
    </nav>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    
<router-outlet></router-outlet>